<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318291109947-0e1us7e5m1c3a1c08gfrcbph1u00a6e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318291109947-0e1us7e5m1c3a1c08gfrcbph1u00a6e4</string>
	<key>API_KEY</key>
	<string>AIzaSyBbZd03oIGgqUVF6kwisvzIBzTUwyPOz6g</string>
	<key>GCM_SENDER_ID</key>
	<string>318291109947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cotmade.cotmade</string>
	<key>PROJECT_ID</key>
	<string>nestcrib-ca5a0</string>
	<key>STORAGE_BUCKET</key>
	<string>nestcrib-ca5a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318291109947:ios:34ad7f8048d42221ce541e</string>
</dict>
</plist>